h1 {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}

img {
    height: 400px;
    width: auto;
}

ul li.odd {
    background-color: black;
    color: white;
}

ul, ol {
    background-color: green;
}